<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="/" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
            <img
            src="https://i.postimg.cc/tRftxJVV/logonav.png"
            class="h-20"
            alt="Ghost Scan Logo"
          />
            Ghost Scan  
        </a>
        <p class="my-6 text-gray-500 dark:text-gray-400">Open-source library of over 400+ web components and interactive elements built for better web.</p>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Our Team</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Scanner</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">FAQs</a>
            </li>
        </ul>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023-2024 <a href="#" class="hover:underline">GhostScan™</a>. All Rights Reserved.</span>
    </div>
  </footer>